<div class="p-grid">
  <!-- <p-blockUI [blocked]="mostrarPopUp" [baseZIndex]="9999" ></p-blockUI> -->
  <div class="p-col">
    <button
      pButton
      type="button"
      label="SORTEAR"
      class="p-button-rounded p-button-lg"
      (click)="sortear()"
      [disabled]="desabilitarBotaoSorteio()"
    ></button>
  </div>
  <div><br /></div>
  <div class="p-col">
    <p-table
      #dt
      [value]="sorteadorService.ganhadores"
      dataKey="id"
      styleClass="p-datatable-responsive-demo"
      [rowHover]="true"
      [rows]="4"
      [loading]="loading"
      class="p-col"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">Ganhadores</div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th colspan="3">
            <div class="posicionamento">Nome</div>
          </th>
          <th colspan="3">
            <div class="posicionamento">Número da Sorte</div>
          </th>
          <th colspan="3">
            <div class="posicionamento">Ganhadores</div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-aluno>
        <tr class="p-selectable-row">
          <td colspan="3">
            <div class="posicionamento">
              {{ aluno.nome }}
            </div>
          </td>
          <td colspan="3">
            <div class="posicionamento">
              {{ aluno.id }}
            </div>
          </td>
          <td colspan="3">
            <div *ngIf="aluno.sorteado" class="posicionamento">
              <img
                src="assets/medalha.png"
                width="32"
                style="vertical-align: middle"
              />
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="9">Por enquanto nenhum ganhador</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog
  [(visible)]="mostrarPopUp"
  [breakpoints]="{ '960px': '75vw' }"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [closable]="false"
  class="p-col"
>
  <ng-template pTemplate="header">
    <h1>{{ header }}</h1>
  </ng-template>

  <div *ngIf="loading">
    <p-progressSpinner
      [style]="{ width: '25%', height: '25%' }"
      styleClass="custom-spinner"
      strokeWidth="8"
      fill="#EEEEEE"
      animationDuration=".5s"
    ></p-progressSpinner>
  </div>

  <div *ngIf="!loading">
    <div class="posicionamento p-col">
      <img
        src="assets/medalha.png"
        style="vertical-align: middle; width: 30%; height: 30%"
      />
    </div>
    <h1 style="color: red">O seu número {{ aluno.id }} foi sorteado!!!</h1>
  </div>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      (click)="fecharDialog()"
      label="Ok"
      styleClass="p-button-ok"
      [disabled]="loading"
    ></button>
  </ng-template>
</p-dialog>
