<div class="p-grid">
  <div class="p-col">
    <p-card styleClass="posicionamento">
      <div class="p-col">
        <button
          pButton
          type="button"
          label="Gerar Números da Sorte"
          class="p-button-rounded p-button-lg"
          (click)="gerarNumerosDaSorte()"
          [disabled]="sorteadorService.numerosDaSorte.length > 0"
        ></button>
      </div>

      <div><br /></div>
      <div class="p-col">
        <p-table
          #dt
          [value]="listaDeAlunos"
          [(selection)]="sorteadorService.alunosElegiveis"
          dataKey="nome"
          [scrollable]="true"
          scrollHeight="250px"
          [virtualScroll]="true"
          [virtualRowHeight]="34"
          [filterDelay]="0"
          [globalFilterFields]="['nome', 'id']"
        >
          <ng-template pTemplate="caption">
            <div class="table-header">
              Lista de Alunos
              <span class="p-input-icon-right">
                <i class="pi pi-search"></i>
                <input
                  pInputText
                  type="text"
                  (input)="dt.filterGlobal($event.target.value, 'contains')"
                  placeholder="Busca de aluno"
                />
              </span>
            </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="width: 3rem">

              </th>
              <th pSortableColumn="nome" colspan="3">
                <div class="posicionamento">
                  Nome
                  <p-sortIcon field="nome"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="id" colspan="3">
                <div class="posicionamento">
                  Número da Sorte
                  <p-sortIcon field="id"></p-sortIcon>
                </div>
              </th>
              <th colspan="3">
                <div class="posicionamento">
                  Aluno Participante
                  <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-aluno>
            <tr class="p-selectable-row">
              <td colspan="3">
                <div class="posicionamento">
                  {{ aluno.nome }}
                </div>
              </td>
              <td colspan="3">
                <div class="posicionamento">
                  {{ aluno.id }}
                </div>
              </td>
              <td colspan="3">
                <div class="posicionamento">
                  <p-tableCheckbox [value]="aluno"></p-tableCheckbox>
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="9">Nenhum aluno encontrado</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-card>
  </div>
</div>
