.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 2vh;
}

.posicionamento {
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
}

.p-datatable.p-datatable-alunos.p-datatable-header {
  padding: 1rem;
  text-align: left;
  font-size: 1.5rem;
}
